1. 开球时，白球移动逻辑有问题，应该是用户点中白球位置后，手动移动；
2. 第一人称视角时，摄像头距离白球距离过近，保持40-50cm；
3. 球杆杆头应该是贴到白球，现在是穿过了白球，估计是对准了球心；
4. 蓄力击球时，球杆的运动不连贯，一卡一卡的；
5. 观察视角，距离再后退一点；
6. 视角切换存在比较明显的卡顿；
7. 观察视角存在明显的桌面畸变，参数设置改为：
FOV = 30°
distance = 2.3 × tableLength
pitch = -28°
8. 现在球杆会和球桌或者球重合，应该增加碰撞检测，如果有可能碰撞，需要计算杆尾抬高的高度，在可能的条件下，保证球杆和桌面的角度要小；
9. 现在默认观察视角时长边，增加一个逻辑，击球完成后，旋转至最近的边（四个边，短边和长边都可以）的观察位置，这样更自然些。